#login_form {
	width:350px;
	height:350px;
	position:relative;
	top:50px;
	margin: auto;
	padding: auto;
}

#signup_form {
	width:350px;
	height:430px;
	position:relative;
	top:50px;
	margin: auto;
	padding: auto;
}
