#login_form {

	width:350px;
		height:350px;
		position:relative;
		top:50px;
		margin: auto;
		padding: auto;
}

#signup_form {
		width:350px;
		height:430px;
		position:relative;
		top:50px;
		margin: auto;
		padding: auto;
}


 #main{border:3px solid black; width:500px; height:500px; margin: 24px auto;overflow: scroll;}
 #message_area{width: 98%;padding:0% 1%; border:1px solid blue;height:440px; position:relative;margin: auto;padding: auto;}